body 
{color: rgba(97, 20, 148, 0.657) ;
    background-color: cadetblue;}
#textrecog
{color: darkcyan;}
#Identify
{color: darkmagenta;}

h1
{color: darkseagreen;}
h2
{color: firebrick;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h3
{color: #000;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}